<div class="menu-wrapper">
    <div class="title">
        <h2>Мои Меню</h2>
    </div>
    <p class="description">Выберите меню:</p>
    <ul class="main-menu">
        {% for item in menu %}
            <li class="{% if item.is_active %}active{% endif %}">
                <a href="{% if item.url %}{{ item.url }}{% else %}{% url item.named_url %}{% endif %}" target="_blank">
                    {{ item.name }}
                </a>
                {% if item.children %}
                    <ul>
                        {% for child in item.children %}
                            <li class="{% if child.is_active %}active{% endif %}">
                                <a href="{% if child.url %}{{ child.url }}{% else %}{% url child.named_url %}{% endif %}" target="_blank">
                                    {{ child.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{#Код для вывода меню на веб-страницу.#}
{#Если пользователь нажимает на ссылку, она открывается в новом окне.#}
{#Если пользователь выбирает какой-то пункт меню, то соответствующий пункт помечается как "active".#}
